/*@font-face {*/
/*    font-family: myFirstFont;*/
/*    src: url(sansation_light.woff);*/
/*}*/

#memo_words{
    text-align:center;
    visibility : hidden;
    display:block;    
    /* font-family:myFirstFont; */
}

#memo_title{
    display:block;
    text-align:center;
    color:white;
}

#memo_txt{
    display:block;
    text-align:left;
    color:white;
    margin-top:5px;
}

body {
     background-color:#3E1E63;
     margin:0;
     padding:0;
     height:100%;
}

#Stage_photos {
    visibility:hidden;
}